<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>

    <div class="header">
        <h1>My Site</h1>
    </div>

    <div class="body-content">
        @RenderBody()
    </div>

    <div class="footer">
        Footer goes here
    </div>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>